body{
    background-color:#000000;
}

p{
    text-align:center;
    color:#0ff1fc;
}

h1{
    color:#130ffc;
    text-align:center;
}

h2{
    color:grey;
    text-align:center;
}

h3{
    text-align:center;
}
